.container{
  margin-top: 200px;
  text-align: center;
}
.container .jumbtron{
background:red;
color : white;
}
.jumbtron a{
  background: yellow;
  color: red;
  border: 2px solid green;
  }
#specialp{
  color:red;
  text-align: center;
  font-size: 50px;
}
